{% extends 'layouts/base.html' %}
{% block title %} 유저관리 {% endblock %} 
{% load static %}

<!-- css-->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<div id="code_up_insert_modal" class="modal fade">
  <div id="code_up_insert_dialog" class="modal-dialog" hx-target="this"></div>
</div>

<div id="code_up_update_modal" class="modal fade">
  <div id="code_up_update_dialog" class="modal-dialog" hx-target="this"></div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                <a href="/">
                  <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                </a>
              </li>
              <li class="breadcrumb-item">가나다</li>
              <li class="breadcrumb-item active" aria-current="page"><a href="">유저관리</a></li>
          </ol>
      </nav>
      <h2 class="h4">관리</h2>
      <p class="mb-0"></p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
      
  </div>
</div>





<div class="col-12">
  <div class="card border-0 shadow">
    <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
      <h2 class="h4 mb-0">유저관리</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">

          <input class="form-control" type="search" 
                name="uuser" placeholder="검색어를 입력하세요." 
                hx-post="{% url 'dev2:uuserUpList' %}"
                hx-trigger="keyup changed delay:500ms, search" 
                hx-target="#search-results" 
                hx-indicator=".htmx-indicator">
        <table class="table table-centered table-nowrap mb-0 rounded">
          
              <thead class="thead-light text-xl-center">
                <tr>
                  <th class="border-0 rounded-start">번호</th>
                  <th class="border-0">유저타입</th>
                  <th class="border-0">이름</th>
                  <th class="border-0">유저상태</th>
                  <th class="border-0 rounded-end">수정하기</th>
                </tr>
              </thead>
          <tbody hx-trigger="load, userListChanged from:body" hx-get="{% url 'dev2:uuserUpList' %}" hx-target="this" id="search-results">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}




<!-- js-->
{% block javascripts %}
<script src="{% static 'js/dev/code_list.js' %}">
</script>
<script>
  $.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' }
  });
</script>

{% endblock javascripts %}
