{% extends 'layouts/base.html' %}
{% block title %} 계란선별-코드관리 {% endblock %} 
{% load static %}

<!-- css-->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

<!-- 상위코드 Modal Content -->
<!-- 상위코드 등록 모달-->
<div id="code_up_insert_modal" class="modal fade">
  <div id="code_up_insert_dialog" class="modal-dialog" hx-target="this"></div>
</div>

<!-- 상위코드 등록 모달-->
<div id="code_up_update_modal" class="modal fade">
  <div id="code_up_update_dialog" class="modal-dialog" hx-target="this"></div>
</div>
<!--end Modal Content -->

<!-- 하위코드 Modal Content -->
<!-- 하위코드 등록 모달-->
<div id="code_down_insert_modal" class="modal fade">
  <div id="code_down_insert_dialog" class="modal-dialog" hx-target="this"></div>
</div>

<div id="code_down_update_modal" class="modal fade">
  <div id="code_down_update_dialog" class="modal-dialog" hx-target="this"></div>
</div>

<!--end Modal Content -->


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                <a href="/">
                  <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                </a>
              </li>
              <li class="breadcrumb-item">세팅</li>
              <li class="breadcrumb-item active" aria-current="page"><a href="">코드관리</a></li>
          </ol>
      </nav>
      <h2 class="h4">코드관리</h2>
      <p class="mb-0"></p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
      
  </div>
</div>
{% comment %} style="height:65vh" {% endcomment %}
<div class="row" >
  <div class="col-12 col-lg-5">
    <div class="card border-0 shadow">
      <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
        <h2 class="h4 mb-0">상위코드</h2>
        <button class="btn btn-sm btn-pill btn-outline-info" hx-get="{% url 'dev:codeUpInsertPage' %}" hx-target="#code_up_insert_dialog">+상위코드 등록</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
              <tr>
                <th class="border-0 rounded-start">상위코드</th>
                <th class="border-0">상위코드명</th>
                <th class="border-0">상위코드설명</th>
                <th class="border-0">상위코드상태</th>
                <th class="border-0 rounded-end">하위코드</th>
              </tr>
            </thead>
            <tbody hx-trigger="load, codeUpListChanged from:body" hx-get="{% url 'dev:codeUpList' %}" hx-target="this">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- code down list-->
  <div class="col-12 col-lg-7">
    <div class="card border-0 shadow" hx-trigger="load, codeDownListChanged from:body" hx-get="{% url 'dev:codeDownList' 0%}" hx-target="this" id="codeDownSwap" hx-swap-oob="true">
    </div>
  </div>
</div>

{% endblock content %}

<!-- js-->
{% block javascripts %}
<script src="{% static 'js/dev/code_list.js' %}"></script>
{% endblock javascripts %}
