{% extends 'layouts/base.html' %}
{% block title %} farm_register {% endblock %} 
{% load static %}
{% comment %} css {% endcomment %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">농가 등록</h1>
        </div>
        <div>
            <a href="{% url 'farm_management:farm_management' %}" class="btn btn-outline-gray-600 d-inline-flex align-items-center">
                농가 관리 페이지
            </a>
        </div>
    </div>
</div>






{% endblock content %}